.page {
    flex-grow: 1;
    margin: 40px 8px 8px 8px;
    padding: 100px 24px 80px 24px;
    border-radius: 12px;

    color: var(--gray-light);
    background-color: var(--dark-strong);
    border: 1px var(--dark-medium) solid;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 381px) {
        padding: 180px 24px 80px 24px;
    }
    @media screen and (min-width: 830px) {
        margin: 40px auto;
    }
}

.country__flag {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    border-radius: 12px;

    width: 140px;
    height: 95px;
    background-color: var(--dark-medium);
    @media screen and (min-width: 381px) {
        width: 280px;
        height: 190px;
    }
}

.country__names {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
}
.country__common {
    width: 120px;
    height: 40px;
    background-color: var(--dark-medium);
    border-radius: 4px;
}
.country__official {
    width: 240px;
    height: 20px;
    background-color: var(--dark-medium);
    border-radius: 4px;
}

.country__properties {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    @media screen and (min-width: 830px) {
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        padding: 0 48px 0;
    }
}
.country__property {
    height: 86.5px;
    width: 100%;
    border-radius: 12px;
    background-color: var(--dark-medium);
    @media screen and (min-width: 381px) {
        height: 51.5px;
    }
    @media screen and (min-width: 830px) {
        width: 321px;
    }
}

.country__info {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.info__part {
    width: 100%;
    height: 18px;
    margin: 24px 0 24px;
    border-radius: 4px;
    background-color: var(--dark-medium);
}

.neighbour__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
.neighbour__text {
    align-self: center;
    height: 18px;
    width: 165px;
    border-radius: 4px;
    background-color: var(--dark-medium);
}
.neighbour__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.neighbour__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px; 
    margin: 0 3px 8px;
}
.neighbour__flag {
    width: 90px;
    height: 60px;
    border-radius: 4px;
    background-color: var(--dark-medium);
}
.neighbour__name {
    width: 52px;
    height: 18px;
    border-radius: 4px;
    background-color: var(--dark-medium);
}
