.page {
    flex-grow: 1;
    margin: 40px 8px 8px 8px;
    padding: 100px 24px 80px 24px;
    border-radius: 12px;

    color: var(--gray-light);
    background-color: var(--dark-strong);
    border: 1px var(--dark-medium) solid;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 381px) {
        padding: 180px 24px 80px 24px;
    }
    @media screen and (min-width: 830px) {
        margin: 40px auto;
        max-width: 820px;
        box-sizing: border-box;
        width: 100%;
    }
}

.country__flag {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    border-radius: 12px;

    width: 140px;
    height: 95px;
    @media screen and (min-width: 381px) {
        width: 280px;
        height: 190px;
    }
}

.country__names {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.country__properties {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    @media screen and (min-width: 830px) {
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        padding: 0 48px 0;
    }
}

.country__property {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background-color: var(--dark-medium);
    @media screen and (min-width: 381px) {
        flex-direction: row;
        gap: 24px;
    }
}

.property__name {
    width: 120px;
    text-align: center;
    @media screen and (min-width: 381px) {
        text-align: left;
    }
}
.property__number {
    width: 120px;
    text-align: center;
    @media screen and (min-width: 381px) {
        text-align: right;
    }
}
.property__divider {
    border-bottom: 1px solid var(--dark-strong);
    width: 100%;
    @media screen and (min-width: 381px) {
        width: auto;
        border-bottom: none;
        border-left: 1px solid var(--dark-strong);
        height: 34px;
        margin: -16px 0;
    }
}

.country__info {
    border-bottom: 1px solid var(--dark-medium);
}

.info__part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 8px;
    gap: 8px;
    border-top: 1px solid var(--dark-medium);
}
.info__values {
    text-align: right;
}

.neighbour__wrapper {
    text-align: center;
}

.neighbour__list {
    list-style: none;
    margin: 0;
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.neighbour__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    max-width: 70px;
    gap: 4px;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
    text-align: center;
    height: calc(100% - 16px);

    color: var(--gray-light);
    text-decoration: none;
    
    &:hover {
        background-color: var(--dark-medium);
    }
}

.neighbour__flag {
    width: 90px;
    height: 60px;
    border-radius: 4px;
}