:root {
  --dark-light: #6C727F;
  --dark-medium: #282B30;
  --dark-strong: #1B1D1F;
  --blue: #4E80EE;
  --gray-light: #D2D5DA;
}

.text__xl--semibold {
  font-family: var(--font-be-vietnam-pro);
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.text__lg--semibold {
  font-family: var(--font-be-vietnam-pro);
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
.text__lg--medium {
  font-family: var(--font-be-vietnam-pro);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

.text__md--bold {
  font-family: var(--font-be-vietnam-pro);
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}
.text__md--medium {
  font-family: var(--font-be-vietnam-pro);
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0;
}

.text__sm--bold {
  font-family: var(--font-be-vietnam-pro);
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
}
.text__sm--medium {
  font-family: var(--font-be-vietnam-pro);
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
}

.noselect {
  user-select: none;
}

body {
  margin: 0;
  min-height: 100dvh;
  height: 1px;
}

input, button {
  font-family: inherit;
}

.animation--pulse {
  animation: 1s pulse ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}