.ranking {
    width: 100%;
    color: var(--gray-light);
    table-layout: fixed;
    border-collapse: collapse;
    @media screen and (max-width: 820px) {
        .ranking__header tr th:last-child,
        .ranking__body tr td:last-child {
            display: none;
        }
    }
    @media screen and (max-width: 640px) {
        .ranking__header tr th:nth-last-child(2),
        .ranking__body tr td:nth-last-child(2) {
            display: none;
        }
    }
    @media screen and (max-width: 360px) {
        .ranking__header tr th:nth-last-child(3),
        .ranking__body tr td:nth-last-child(3) {
            display: none;
        }
    }
}

.ranking__header th {
    text-align: left;
    border-bottom: 3px solid var(--dark-medium);
    padding: 16px 6px 16px 6px;
}

.ranking__body tr {
    &:hover {
        cursor: pointer;
        background-color: var(--dark-medium);
    }
}
.ranking__body tr td {
    padding: 8px 6px 6px 6px;
}

.ranking__flag {
    border-radius: 4px;
}