.ranking {
    width: 100%;
    height: fit-content;
    color: var(--gray-light);
    table-layout: fixed;
    border-collapse: collapse;
    @media screen and (max-width: 1023px) {
        .ranking__header tr th:last-child,
        .ranking__body tr td:last-child {
            display: none;
        }
    }
    @media screen and (max-width: 760px) {
        .ranking__header tr th:nth-last-child(2),
        .ranking__body tr td:nth-last-child(2) {
            display: none;
        }
    }
    @media screen and (max-width: 360px) {
        .ranking__header tr th:nth-last-child(3),
        .ranking__body tr td:nth-last-child(3) {
            display: none;
        }
    }
}

.ranking__header th {
    text-align: left;
    vertical-align: top;
    border-bottom: 3px solid var(--dark-medium);
    padding: 0 6px 16px 6px;
}

.ranking__body tr {
    &:hover {
        cursor: pointer;
        background-color: var(--dark-medium);
    }
    &:focus-visible {
        outline: 2px solid var(--gray-light);
    }
}
.ranking__body tr td {
    padding: 8px 6px 6px 6px;
}

.ranking__flag {
    border-radius: 4px;
}