.page {
    width: fit-content;
    align-self: center;
    padding: 32px 48px 32px;
    margin: 40px 8px 8px 8px;
    border-radius: 12px;
    text-align: center;

    color: var(--gray-light);
    background-color: var(--dark-strong);
    border: 1px var(--dark-medium) solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.button {
    margin-top: 40px;
    border-radius: 12px;
    padding: 12px 52px 12px;

    border: 2px solid var(--dark-medium);
    color: var(--gray-light);
    background-color: var(--dark-strong);

    &:hover {
        cursor: pointer;
        background-color: var(--dark-medium);
        border: 2px solid var(--dark-light);
    }
    &:focus-visible {
        outline: 2px solid var(--gray-light);
        background-color: var(--dark-medium);
    }
}